#middle {
width:690px;
    margin: 10px;

}

#left {
    height:280px;
    width:330px;
    margin-right:20px;
    padding: 10px;

}

#bottom {
    border-top: solid #f7f7f7 2px; 
    margin-top: 10px;
    border-bottom: solid #f7f7f7 2px;
    height: 120px;
    
}

#left > img {
    width:100%;
}

#bottom > div {
    float: left;
    width: 210px;
    margin-top: 10px;
    padding: 0px 5px 0px 10px;
}

#left > h3 {
    margin-top:10px;
}

#bottom div:nth-child(2) {
    border-right: 2px solid #f7f7f7;
    border-left: 2px solid #f7f7f7;
}

#right div:nth-child(2) {
    margin-bottom: 15px;
    margin-top: 15px;
}

.half {
    float:left;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.greyback {
    background-color: #f7f7f7;
}

.rightsub {
    padding:10px;
    height:70px;
    width:300px;
}

.rightsub > img {
    float: left;
    width: 45%;
    margin-right: 10px;
}

.rightsub > p, h3 {
    
}

a {
    float: right;
    color: green;
    font
}

body {
    margin: auto;
    padding: 10px;
    font-family: sans-serif;
    width:690px;
}

footer {
    height:180px;
    margin:10px;
    width: 690px;
}

h1, h3 {
    font-weight: lighter;
}

h3 {
    font-size: .9em;
    margin-top: -2px;
}

header {
    text-align: center;
    margin: 10px;
    width: 690px;
    
}

p, li, a {
    font-size: .7em;
}




/* Lorem ipsum dolor sit amet, consectetur adipiscing elit.         Donec efficitur, mi quis facilisis fringilla, enim purus lacinia nunc, volutpat vulputate ante libero vitae velit. Nulla faucibus, arcu id egestas tempus, sapien diam congue lacus, sit amet porta quam diam vel nisl. Praesent vitae convallis erat, a tempus elit. Vivamus sit amet leo euismod, tristique lacus a, ornare magna. */