.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.main {
    margin: 10% auto;
    width: 90%;
    padding-left: 10%;
}

.week {
    float: left;
    margin: 5%;
    padding: 1%;
}

.week h2 {
    padding: 10%;
    background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    border-radius: 10px;
    
}

.week h2:hover {
background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.52) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,0.52)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.52) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.52) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.52) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,0.52) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    color: aliceblue;
}

#me h1:hover {
    color:forestgreen;
    cursor: progress;
}

/* Dropdown menu */

.dropdown {
    position: relative:
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* End Dropdown */

/* Hidden Snoopdog */

#snoop {
    display: none;
    position:fixed;
    right: 25%; 
    top: 25%;
    z-index: 1;
}

#me > div:hover + div {
    display: block;    
}

/* End Hidden Snoopdog */

.striker {
    text-decoration: line-through;
}

.badtext {
    color: red;
}

/* Animation Target */

#me {
    animation-name: voila;
    animation-duration: 4s;
    opacity: 1;
}

body {
    width: 100%;
}

header {
    text-align: center;
}

#wlittler    {
    border-style:groove;
    border-color: cornflowerblue;
}

#wlittler:hover {
    border-color: azure;
}

/* Animation Target */

header > p {
    color: black;
    animation-name: appear;
    animation-duration: 8s;
}

.week > h2 {
    text-align: center;
}

/* The animation code */

@keyframes appear {
    from {
        color: white;
    }
    to {
        color: gray;
    }
}
@keyframes voila {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
