body {
  font-family: 'Rancho', cursive;
}

iframe {
  border-style:none;
}

a {
  color: #0060B2;
}

a:hover {
  color: #0089FF;
  text-decoration: none;
}
p {
  font-size: 1.5em;
  text-shadow: 1px 1px 1px grey;
}

.product {
  background-color: transparent;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.tagline {
  color: #FFF;
  padding-left: 10%;
  font-size: .9em;

}

p.tagline {
  font-family: 'Kalam', cursive;
}

.hero {
  background: url("../img/collection_2.jpg") no-repeat fixed left;
  /*background-clip: content-box;*/
  background-size:;
}

.herobox {
  width: 70%;
}

.product_img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 20px;
}

.zenTitle > h1 {
  font-size: 4.0em;
}

.zenTitle > h2 {
  font-size: 2.0em;
}

.zenTitle > h3 {
  font-size: 1.5em;
}

@media (min-width: 1050px){

  .herobox {
    width: 70%;
  }

}

@media (min-width: 1125px) {

  .herobox {
    width: 65%;
  }
}

@media (min-width: 1185px) {

  .herobox {
    width: 40%;
  }
}

@media (min-width: 1800px) {
  .herobox {
    width: 30%;
  }
}
