body {
    font-family: 'Mirza', cursive;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.tagline {
  color: #FFF;
  padding-left: 10%;
  font-size: .9em;

}

p.tagline {
  font-family: 'Kalam', cursive;
}

.hero {
  background: url("../img/collection_2.jpg") no-repeat fixed left;
  /*background-clip: content-box;*/
  background-size:;
}

.herobox {
  width: 75%;
}

.zenTitle > h1 {
  font-size: 4.0em;
}

.zenTitle > h2 {
  font-size: 2.0em;
}

.zenTitle > h3 {
  font-size: 1.5em;
}
