.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
  background-color: #27FDA2;
}

.navbar-default {
  background-color: inherit;
}

.hero {
  background-image: url("stars");
  margin-top: 10%;
}

.hero_center img {
  display: block;
}

.single_line {
  display: block;
}

.love, .locks {
  display: inline;
}

.love {

}

.megan {
  width: 500px;
}
