html, body {
    margin: 0;
    padding: 0;
}
html {
    background: #ccc;
}
body {
    width: 600px;
    background: #fff;
    margin: 2em auto 2em;
}
div {
    margin-bottom: 1em;
    width: 100px;
    height: 100px;
    float: right;
}
.element1 {
    background: rgb(211, 206, 61);
}
.element2 {
    background: rgb(85, 66, 54);
}
.element3 {
    background: rgb(247,120,37);
}