img {
    width: 100%;
}

.my_header {
    background-color: crimson;
}

li {
    display: inline-block;
    text-decoration: none;
}

.my_nav {
    background-color: darkseagreen;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my_nav ul {
    margin: 20px 0;
    padding-left: 0;
}

li a {
    color: hotpink;
    font-size: 18px;
    margin-right: 15px;
}

.my_content {
    background-color: pink;
}

.my_content > div {
    background-color: aliceblue;
}

.my_content p {
    margin-top: 30px;
}