.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* General Attributes */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 2% 2%; 
}

span {
    font-style: italic;
}

.color_main {
    color: #FF851E;
}

.color_2nd {
    color: #FFAE6A;
}

.color_3rd {
    color: #7F5735;
}

.shadow {
    text-shadow: 1px 1px 1px grey;
}

.cursive {
     font-family: 'Pacifico', cursive;
}

/* Navbar */

nav a:link {
    color: black;
}

nav a:visited {
    color:black;
}

nav a:hover {
    color: #7F5735;
}

nav {
    margin-bottom: 1%;
}

nav h1 {
    float: left;
}

nav ul {
    float: right;
    list-style: none;
}

li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    margin: 0%;
}

.opacity {
    background-color: rgba(0,0,0,.6);
    padding: 10%;
}

/* Title section */

.title {
    text-align: center;
    background-image: url(../img/running_man.jpg);
    background-size:cover;
    background-position: bottom;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

h2 { 
font-size: 3em;
    padding: 10% 0% 2% 0%;
/*    color: #FF851E;*/
}

.title p {
    font-size: 1.5em;
    margin-bottom: 3%;
/*    color: #FFAE6A;*/
}

.button {
    padding: 2% 5%;
    background-color: rgba(127,87,53,.6);
    text-decoration: none;
    border-radius: 5px;
}

a:link.button, a:visited.button {
    color:aliceblue;
}

a:active.button {
    color:red;
}

a:hover.button {
    background-color: rgba(127,87,53,.7);
}

/* Hidden Feature */

#Pinky {
    display: none;
    position:fixed;
    right: 25%; 
    top: 25%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#Pinky iframe {
    margin-bottom: -5px;
}

#world_domination > div:hover + div {
    display: block;
}

/* Main Feature */

#main {
    margin: 4% 0% 2% 0%;
}

#main img {
width: 100%;
    margin-bottom: -6%;
}

#main h3 {
    font-size: 1.5em;
/*    font-weight: ;*/
    color: #FF851E;
    margin-bottom: 3%;
}

#main div:first-child {
    float: left;
    width: 20%;
    margin: 0% 2%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#main div.blood {
    float: right;
    width: 75%;
    text-align: center;
}

#main p {
    width: 80%;
}

.blood {
    background-image: url(../img/bloodpaws.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size:auto;
/*    background-origin: border-box;*/
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: rgba(127,87,53,.7);
    padding: 2px;
}

/* 4x Featured Content */

#features4x {
    text-align: center;
}

.feature {
    float: left;
    width: 20%;
    margin: 2% 2%;
}

.feature > img {
    width: 100%;
}

.feature > h4 {
    font-size: 1.1em;
    margin-bottom: 5%;
    text-shadow: 1px 1px 1px grey;    
}

.feature > p {
    font-size: .8em;
}

/* Testimonials */

#testimonials {
     text-align: center;
}

#testimonials div {
    width: 40%;
    float: left;
    margin: 2% 4%;
}

#testimonials span {
    float: right;
    margin-top: 2%;
}

#testimonials img {
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 2%;
}

#testimonials p {
    font-size: .8em;
    margin: 4% 0%;
}

/* Bottom */

#bottom {
    text-align: center;
    background-image: url(../img/indoor_outdoor.jpg);
    background-size:cover;
    background-position: 50% 80%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

#bottom div {
    margin: 2% 0%;
}

#bottom p {
    padding: 2% 4%;
    font-size: 1.5em;
    line-height: 110%;
    color: #FFAE6A;
}

#bottom a {
 width: 40%;
    padding: 1.5% 4%;
    border-radius: 0px;
    margin: 2% 2%;
}

