.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.secret {
  display: none;
}

body {
    font-family: 'Amatic SC', cursive;
}

.main_bg {
  background-image: url(../img/wood_bgd.png);
}

.holiday {
  background-image: url(../img/candy_stripe_2.jpg);
}

.holiday_2 {
  background-image: url(../img/snowflakes_2.jpg);
}

.bg_clip {
  background-clip: content-box;
}

a {
    color: #8D5C32;
}

a:hover {
    color: #658731;
    text-decoration: none;
}

.amazennav {
    margin: 20px;
    font-size: 30px;
}

.amazennav>li.active>a, .amazennav>li.active>a:focus {
    background-color: #8a6d3b;
}

.amazennav>li.active>a:hover {
    background-color: rgba(138, 109, 59, 0.54);
}

/*.amazennav>li>a:hover {
    background-color: rgba(255, 255, 255, 0.54);
}*/

.amazennav>li>a {
    margin-right: 40px;
    font-weight: bold;
}

.key_img {
    display: inline;
}

.item_box {
    border-color: rgba(255, 255, 255, 0.701961);
    border-width: 20px;
    border-style: solid;
    box-shadow: rgba(86, 65, 54, 0.34902) 1px 1px 6px 1px;
    margin: 15px 8%;
}

.blend_box {
    border-color: rgba(255, 255, 255, 0.701961);
    border-width: 20px;
    border-style: solid;
    box-shadow: rgba(86, 65, 54, 0.34902) 1px 1px 6px 1px;
    margin: 15px 0px;
}

.title_box {
    border-color: rgba(255, 255, 255, 0.701961);
    border-width: 20px;
    border-style: solid;
    box-shadow: rgba(86, 65, 54, 0.34902) 1px 1px 6px 3px;
    background-color: white;
    margin-bottom: 25px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
    display: inline;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 24px;
    font-weight: 600;
}

.prod_info {
    text-align: left;
}



.prod_img {
    width: 75%;
    box-shadow: 3px 3px 6px #4e461c;
    margin-bottom: 10px;
    border-radius: 4px;
}

.product_bottom {
    position: absolute;
    bottom: 0;
    left: 23.68%;
}

.product_desc {
  margin-bottom: 10px;
}

.prod_img_spacer {
  margin-top: 61px;
}

.product_desc_spacer {
  margin-bottom: 71px;
}

.gold_spacer {
  height: 141px;
}

.zen_spacer {
  height: 34px;
}

.rejuv_spacer {
  height: 34px;
}

.platinum_spacer {
  height: 50px;
}

.pom_spacer {
  height: 214px;
}

.sampler_spacer {
  height: 203px;
}

.da_bomb_spacer {
  height: 34px;
}

.leaf_spacer {
  height: 134px;
}

.product {
  margin: auto;
}

.prod_variant {
  color: red;
  font-size: 28px;
}

.variety {
  font-size: 32px;
}

#leaf_me_img {
    width: 100%;
}


.cellulate_spacer {
  height: 101px;
}

.mia_img {
    height: 689px;
}

.mia_img_2 {
    height: 555px;
}

.pricing {
    color: #3c763d;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

tr {
    font-size: 22px;
}

td, option {
    font-weight: bold;
}

.logo_footer > img {
  max-width: 100px;
  display: inline;
  height: auto;
  margin: 0px 10px;
}

.logo_img {
    /*max-width: 400px;
  position: absolute;
  top: 65px;
  left: -20px;*/
    display: none;
}

.logo_small {
    max-width: 600px;
    display: block;
}

@media (max-width: 1200px) {
  .platinum_spacer {
    height: 122px;
  }
  .unwind_spacer {
    height: 42px;
  }
  .cellulate_spacer {
    height: 118px;
  }
  .sampler_spacer {
    height: 348px;
  }
  .da_bomb_spacer {
    height: 58px;
  }
}

@media (max-width: 991px) {
  .platinum_spacer {
    height: 51px;
  }
  .zen_spacer {
    height: 68px;
  }
  .rejuv_spacer {
    height: 68px;
  }
  .leaf_spacer {
    height: 101px;
  }
  .cellulate_spacer {
    height: 102px;
  }
  .sampler_spacer {
    height: 517px;
  }
  .da_bomb_spacer {
    height: 92px;
  }
}

@media (max-width: 768px) {
  .platinum_spacer, .gold_spacer, .silver_spacer, .da_bomb_spacer, .cellulate_spacer, .leaf_spacer, .rejuv_spacer, .zen_spacer, .sampler_spacer, .unwind_spacer, .enliven_spacer, .pom_spacer, .zen_bath_spacer, .amazen_foot_spacer  {
    height: 51px;
  }
}

@media (max-width: 600px) {
    .logo_small {
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    .logo_small {
        max-width: 300px;
    }
}

@media (max-width: 451px) {

  .amazennav {
    display: table-caption;;
  }
}


/*@media (max-width: 1200px) {

.logo_img {
  max-width: 300px;
  top: 110px;
}
}

@media (max-width: 1060px) {

.logo_img {
 display: none;
}
.logo_small {
  max-width: 400px;
  display: block;
}
.title_box {
  margin: 50px 0px;
}
}*/
