body {
    width: 75%;
    margin: 0 auto;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}

nav {
    text-align: justify;
    
}

nav a {
    text-decoration: none
}

nav a:visited {
    color: red
    
}

nav a:hover {
    color:black
}

h3 {
    color: dodgerblue
}

section, aside {
    float: left;
}

section {
    width: 70%;
    text-align: justify;
    hyphens: auto;
}
aside {
    width: 20%;
}

footer {
    clear: both;
}