.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto 2%; 
}

/* Navbar */

nav {
    padding: 1% 1%;
    width: 98%; 
}

h1 {
    font-size: 25px;
    float: left;
}

nav li{
    display: inline-block;
    
}

nav ul {
    float: right;
}

a {
    text-decoration: none;
    color: #9799A8;
    margin-left: 5px;
    font-size: .75em;
}

/* 1st opaque section */

#top {
    background-image: url(../img/wine-bg.jpg);
}

.opaque {
    background-size: cover;
    text-align: center;
    color: white;
}
#top > div {
    padding: 200px 0;
}

.opacity {
    background-color: rgba(0,0,0,.8);
}
#top > div > p {
    font-style: italic;
    margin-top: 10%;
}


span {
    font-style: normal;
}

h2 {
    font-size: 3em; 
    
}

/* Middle Section */

.two_boxes {
    width: 100%;
}

.two_boxes div {
    float: left;
}

 h3 {
    padding: 7%;
    font-size: 1.5em;
    font-family: serif;
}

.two_boxes > div:first-child {
    width: 60%;
    text-align: center;
    padding: 9.5% 0;

}

.two_boxes > div:nth-child(2) {
    width: 40%;
}

.two_boxes img {
    width: 70%;
    margin-left: 15%;
    margin-bottom: -5px;
}

.two_boxes p {
    padding: 0% 10%;
}

.grey {
    color: #D4D4D4;
}

p { 
    font-size: .8em;
}

h3 {
    font-weight: 900;
    font-style: italic;
    
}

/* 2nd opaque section */

#second {
    background-image: url(../img/wine13.jpg);
}

#second > div {
    padding: 50px 0;
}

#second div > p {
    padding: 0% 10% 2% 10%;
}

#second div h3 {
    padding: 3% 6%;
}

/* Bottom section */

#bottom > div {
    float: left;
    width: 33%;
    text-align: center;
    margin-bottom: 2%;
}

#bottom img {
    height:200px;
}

h4 {
    font-weight: 700;
    font-style: italic;
}

#bottom p {
    padding: 2%;
    font-size: .7em;
}

#bottom a {
    background-color: #91A05D;
    padding: 1% 5%;
    color: #D9E0BF;
    font-size: .7em;
}