.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
    margin: 0 auto;
}

p, h1, a {
    font-family: sans-serif;
    color: white;
    line-height: 3.2;
}

div h1 {
    text-transform: uppercase;
}

.garden p:nth-child(1) {
    text-transform: uppercase;
}

.garden p:nth-child(2) {
    text-transform: lowercase;
}

.garden {
    background-image: url(../img/1.jpg);
    text-align: center;
    background-size: cover;
    
}

.garden > div {
    background-color: rgba(0,0,0, .5);
    padding: 100px;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #96AC23;
    text-transform: capitalize;
    font-family: sans-serif;
}

#uno {
    background-image: url(../img/featured-image-3.jpg);
    background-size: cover;
    max-width: 600px;
}

#dos {
    background-image: url(../img/featured-image-4.jpg);
    background-size: cover;
    margin-top: 8%;
    max-width: 600px;
}

#tres {
    background-image: url(../img/featured-image-5.jpg);
    background-size: cover;
    width: 68%;
    float:left;
    margin-left: 2%;
    min-height: 740px;
    
}

.opacity > div {
    background-color: rgba(0,0,0, .5);

    padding: 100px;
}

#tres > div {
        padding: 200px 100px 183px 100px;
}

.opacity {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    width:30%;
}

.main {
    
/*    height:500px;*/
    margin: 0 1%;
    
}

.clicker {
    
    padding: 15px;
    text-decoration: none;
    margin-right: 10px;
}

.grey {
    background-color: #3F3A34;
}

.trans {
    border: 1px solid white;
}

}