.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.affix-top,
.affix-bottom {
    width: 100%;
    position: fixed;
    display: block;
}
.affix {
    display: none;
}
.bg_1 {
    color: #fff;
    background-size: contain;
    height: 300px;
    overflow: auto;
}

/*Navbar*/

.stay_right {
    float: right;
}
.sandwich {
    width: 100px;
    margin-top: -20px;
}
#car_menu {
    right: 0;
    top: 50px;
    left: initial;
}
nav h3 {
    display: initial;
}

/*
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}
*/


/*Why*/

.forest_bg {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(0, 0, 0, .5) 100%), url('../img/forest.jpg') no-repeat fixed 0px -200px;
}
.extend_forest {
    height: 500px;
}
.city_bg {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(0, 0, 0, .5) 100%), url('../img/city.jpg') no-repeat fixed 20px -200px;
}
.wasteland_bg {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(0, 0, 0, .5) 100%), url('../img/wastelan.jpg') no-repeat fixed;
}
.ocean_bg {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(0, 0, 0, .5) 100%), url('../img/future_city.jpg') no-repeat fixed;
}

/*Misc*/

.content_expander {
    height: 1000px;
}

/*Media Queries*/

@media screen and (max-width: 420px) {
    .short_title {
        display: initial;
    }
    .long_title {
        display: none;
    }
}
@media screen and (min-width: 421px) {
    .short_title {
        display: none;
    }
    .long_title {
        display: initial;
    }
}
