body {
    font-family: sans-serif;
    

}

h1 {
    font-weight: 100
}

h2 {
    font-weight: 500;
}

.light {
    font-weight: lighter;
}

p {
    font-size: 11px
}

header {
    background-color: #0171C5;
    color: white;
    padding: 10px;
}

header a {
    color: #BEFFFF;
    padding-right: 10px;
    
}

div#rwc {
    
}

div#laptop {
    float: right
}

div#i7 {
    
}

span {
    font-size: 20px;
}

div#support {
    background-color: #f3f3f3;
    padding: 10px;
    

}

div#ssd {
    float:left;
    position: relative;
    
}

div#arch {
    position: relative;
    left: 500px;
    float: right
}