body {
    font-family: sans-serif;
    

}

h1 {
    font-weight: 100
}

h2 {
    font-weight: 500;
}

.light {
    font-weight: lighter;
}

p {
    font-size: 11px
}

header {
    background-color: #0171C5;
    color: white;
    padding: 10px;
}

header a {
    color: #BEFFFF;
    padding-right: 10px;
    
}

#rwc {
    display: inline;
}

div#laptop {
    float: right
}

div#i7 {
    
}

#processor {
    float: right;
}

#rwctext {
    float:left;
}


span {
    font-size: 20px;
}

#support {
    background-color: #f3f3f3;
    padding: 10px;
    
    

}

div#ssd {
    float:left;
    
}

div#arch {
    left: 500px;
    float: right
}